:root{
    /*Colors*/
    --cyan-primary: hsl(158, 36%, 37%);
    --cream-primary: hsl(30, 38%, 92%);
    --blue-neutral:hsl(212, 21%, 14%);
    --grey-neutral:hsl(228, 12%, 48%);
    --grey-light:hsl(0, 0%, 94%);
    --white-neutral:hsl(0, 0%, 100%);
    /*Layout*/
    --mobile-breakdown: 375px;
    --desktop-breakdown: 1440px;
    /*Typography*/
    --text-default:1.4rem;
    --text-lg:3rem;
    --text-sm:1rem;
    --font-primary:'Montserrat', sans-serif;
    --font-secondary:'Fraunces', serif;
    /*Padding*/
    --padding-sm:1.5rem;
    --padding-md:3rem;
    /*Shadow*/
    --shadow-primary: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;;



}   

html{
    /* 62.5% of 16px browser font size is 10px */
    font-size: 68.5%;
}

body{
    margin:0;
    background-color: var(--cream-primary);
}


/*TYPOGRAPHY*/

.text-small, .p, .price-sm{
    font-family: var(--font-primary);
}

.h1, .price-lg{
    font-family: var(--font-secondary);
}

.text-small{
    text-transform: uppercase;
    letter-spacing: 0.5rem;

}

.h1{
    font-size: var(--text-lg);
}

.p, .text-small, .price-sm{
    font-size: var(--text-default);
    color: var(--grey-neutral);
}

.price-lg{
    font-size: var(--text-lg);
    line-height: 0;
    color: var(--cyan-primary);
}

.price-sm{
    text-decoration: line-through;
    margin-left: 2rem;
}

/*CARD*/

.card{
    width: 75%;
    margin: 3rem auto;
    background-color: white;
    border-radius: 1rem;
}

.card-img{
    width: 100%;
    height: 25rem;
    background-image: url(images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    border-radius: 1rem 1rem 0 0;
}

.card-content{
    padding:var(--padding-sm) var(--padding-md);

}

/*BUTTONS*/

.btn{
    color: white;
    height: 5rem;
    background-color: var(--cyan-primary);
    border: none;
    border-radius: 8px;
    width: 100%;
    margin: auto;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
}

.btn:hover{
    background-color: var(--grey-neutral);
    cursor: pointer;
}

.icon{
    vertical-align: middle;
    padding: 0.5rem;
}

/*PRICE*/

.price-wrapper{
    display: flex;
    grid-template-columns: auto auto;
    align-items: center;
    margin-bottom: 1rem;
}

footer{
    height: 5vh;
    padding-bottom: 0.5rem;
}

@media only screen and (min-width: 600px) {
    body {
      background-color: var(--grey-light);
    }

    .container{
        display: flex;
        align-items: center;
        width: 85vw;
        height: 80vh;
        margin: auto;
        background-color: var(--cream-primary);
        box-shadow: var(--shadow-primary);
    }

    .card{
        width: 35vw;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .card-img{
        border-radius: 1rem 0 0 1rem;
        background-image: url(images/image-product-desktop.jpg);
        height: auto;
    }

    .background{
        height: 95vh;
        width: 100vw;
        display: flex;
        align-items: center;
    }

  }